	<ul id="themes" class="dropdown-content">
		<li><a class="orange-text lighten-3-text" href="#!">Light (default)</a></li>
		<li><a class="orange-text lighten-3-text" href="#!">Classic</a></li>
		<li><a class="orange-text lighten-3-text" href="#!">Dark Metro</a></li>
		<li><a class="orange-text lighten-3-text" href="#!">Embedded</a></li>
		<li><a class="orange-text lighten-3-text" href="#!">Experimental</a></li>
  	<li><a class="orange-text lighten-3-text" href="#!">Material</a></li>
		<li><a class="orange-text lighten-3-text" href="#!">Metro</a></li>
		<li><a class="orange-text lighten-3-text" href="#!">Royale</a></li>
	</ul>
	<nav>
		<div class="nav-wrapper light-blue darken-2">
			<a href="/collab-vm/" class="brand-logo">&nbsp;&nbsp;&nbsp;CollabVM</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/collab-vm/faq">FAQ</a></li>
				<li><a href="/collab-vm/news">News</a></li>
				<li><a href="/collab-vm/rules">Rules</a></li>
				<li><a href="/collab-vm/classic">Classic</a></li>
				<li><a href="https://reddit.com/r/collabvm">Subreddit</a></li>
				<li><a class="dropdown-button" href="#!" data-activates="themes">Themes<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/collab-vm/faq">FAQ</a></li>
				<li><a href="/collab-vm/news">News</a></li>
				<li><a href="/collab-vm/rules">Rules</a></li>
				<li><a href="/collab-vm/classic">Classic</a></li>
				<li><a href="https://reddit.com/r/collabvm">Subreddit</a></li>
			</ul>
		</div>
	</nav>
